@font-face {
	font-family: Trajan Pro;
	src: url("../font/TrajanPro-Regular.ttf") format("opentype");
}

html {
	height: 100%;
	margin-bottom: 1px
}
a:link, a:visited {
	text-decoration: none;
	font-weight: 400
}
a:hover {
	text-decoration: underline;
	font-weight: 400
}
input.button {
	cursor: pointer
}
p {
	margin-top: 0;
	margin-bottom: 5px
}
img {
	border: 0 none
}
#ttn-left-inner-mod-right .moduletable h3 {
	padding-bottom: 20px;
	line-height: 18px;
	text-transform: uppercase;
	color: #8c8c8c;
	font-size: 18px;
	font-family: "Trajan Pro";
	text-align: center;
	margin: 15px 0 0
}
div.moduletable h3, div.module h3 {
	color: #8C8C8C;
	font-family: "Trajan Pro";
	font-size: 15px;
	text-transform: uppercase;
	margin: 10px 0 0;
	padding: 0
}
#ttn-wrapper-inner {
	margin-bottom: 20px
}

#ttn-left-inner-mod-left div.line {
	margin-bottom: 5px
}
#ttn-logo {
	float: left;
    padding-left: 15px;
    padding-top: 16px;
    width: 420px;
}
div#ttn-search {
	float: left;
    width: 210px;
    margin-top: 10px;
    padding: 4px 0px 10px 10px;
    border-left: 1px solid #CCCCCC;
    font-size: 13px;
}

div#ttn-search p {
    margin:0px;
}

div#ttn-search p .support-mail{
    color: #EC1C24;
}

div#ttn-search .moduletable h3, div#ttn-search .support-mail-lable {
	float: left;
	font-family: 'Roboto';
	font-size: 14px;
    color: #666666;
	font-weight: bold;
    text-transform: none;
    margin-right: 5px;
    width: 100%;
}
div#ttn-search .moduletable form div.search input#mod_virtuemart_search {
	border: 1px solid #919191;
    border-radius: 8px;
    height: 21px;
    width: 200px;
    font-size: 13px;
    line-height: 23px;
    margin: 0;
    padding: 2px;
}
div#ttn-nav-inner {
    float: left;
    padding: 12px 3px 0px 0px;
}
div#ttn-nav-inner li, div#ttn-nav-inner ul {
	list-style: none;
	margin: 0;
	padding: 0
}
div#ttn-nav-inner li {
	margin-top: 20px;
    width: 90px;
    text-align: center;
    float: left;
}

div#ttn-nav-inner li.item-101 {
    display: none;
}


div#ttn-nav-inner li.item-199 a{
    background: url(../images/shop-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-178 a{
    background: url(../images/about-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-250 a{
    background: url(../images/tern-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-200 a{
    background: url(../images/faq-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-255 a{
    background: url(../images/quota-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-256 a{
    background: url(../images/contact-icon.png) top center no-repeat;
}

div#ttn-nav-inner li.item-199.active a, div#ttn-nav-inner li.item-199 a:hover{
    background: url(../images/shop-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner li.item-178.active a, div#ttn-nav-inner li.item-178 a:hover{
    background: url(../images/about-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner li.item-250.active a, div#ttn-nav-inner li.item-250 a:hover{
    background: url(../images/tern-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner li.item-200.active a, div#ttn-nav-inner li.item-200 a:hover{
    background: url(../images/faq-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner li.item-255.active a, div#ttn-nav-inner li.item-255 a:hover{
    background: url(../images/quota-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner li.item-256.active a, div#ttn-nav-inner li.item-256 a:hover{
    background: url(../images/contact-icon-active.png) top center no-repeat;
}

div#ttn-nav-inner a {
	display: inline-block;
	color: #6D6D6D;
	font-family: 'Roboto';
    font-size: 14px;
    text-transform: uppercase;
    padding: 40px 0px 0px 0px;
	width: 100%;
}
div#ttn-nav-inner li:hover a, div#ttn-nav-inner li#current a {
	color: #EC2028;
	text-decoration: underline
}

div#ttn-nav-inner li.active a {
	color: #EC2028;
}

div#ttn-showcase{
    background: url(../images/showcase.png) top center no-repeat;
}

#ttn-showcase {
	width: 100%;
    float: left;
    height: 438px;
}

#ttn-showcase .custom {
    width: 40%;
    padding-left: 15%;
    padding-top: 7%;
}

#ttn-showcase .custom h1{
	color: #3F3F3F;
    font-size: 55px;
    line-height: 65px;
    text-transform: uppercase;
}

#ttn-showcase .custom .read-more {
    color: #fff;
    padding: 10px 20px;
    background: #EC1C24;
    border-radius: 20px;
    font-size: 16px;
}

.ttn-newmenu{
    display: inline-block;
    width: 100%;
}

.view-productdetails .ttn-newmenu{
	padding-bottom:15px;
}

div.ttn-newmenu h3{
	font-size: 40px;
    text-transform: uppercase;
    color: #3F3F3F;
    text-align: center;
    line-height: 80px;
    font-family: Roboto;
    font-weight: 900;
}

.view-productdetails div.ttn-newmenu h3{
	margin: 0px;
}

.itemid-199 div.ttn-newmenu h3, .view-category div.ttn-newmenu h3{
    line-height: 0px;
}

div.ttn-newmenu .new-menus{
    margin: 0px auto;
    text-align: center;
    width: 95%;
}

div.ttn-newmenu .new-menus ul{
    display: inline-block;
    list-style: none;
    line-height: 25px;
    margin: 0;
    padding: 0;
	position: relative;
    text-align: center;
}

div.ttn-newmenu .new-menus ul.mainnewmenu li.new-level1{
	cursor: pointer;
    margin: 0px 25px;
    float: left;
    width: 138px;
    height: 150px;
}

div.ttn-newmenu .new-menus ul ul.detail-menu{
    background: #fff;
    border: 1px solid #B3B3B3;
	display:none;
    position: absolute;
	z-index: 9999;
}


div.ttn-newmenu .new-menus ul li:hover ul.detail-menu  {
    display: block;    
}

div.ttn-newmenu .new-menus ul ul.detail-menu li{
	border-right: 2px solid #e7e7e7;
    color: #EC1C24;
    font-weight: 700;
    float: left;
    margin: 15px 0px;
    width: 180px;
}

div.ttn-newmenu .new-menus ul ul.detail-menu ul {
    margin-top: 0px;
    width: 100%;
    position: static;
    border: none;
}

div.ttn-newmenu .new-menus ul ul.detail-menu ul li.new-level3{
	width: 93%;
    margin: 0px;
    line-height: 15px;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

div.ttn-newmenu .new-menus ul ul.detail-menu ul li.new-level3.active-menu a{
	color: #EC1C24 !important;
	font-weight:700;
}

div.ttn-newmenu .new-menus ul ul.detail-menu ul li.new-level3 a{
    color: #3F3F3F !important;
}

div.ttn-newmenu .new-menus ul ul.detail-menu ul li.new-level3 a:hover, div.ttn-newmenu .new-menus ul ul.detail-menu ul li.new-level3 a.item-active{
    color: #EC1C24 !important;
	text-decoration: underline;
}

li#item-newmenu-1 a{
    background: url(../images/menu-icon-1.png) top center no-repeat;
}

li#item-newmenu-1 a:hover, li#item-newmenu-1 a.item-active {
    background: url(../images/menu-icon-1-active.png) top center no-repeat;
}

li#item-newmenu-1 ul.detail-menu li.new-level2 ul li a {
    background: none;
}

li#item-newmenu-2 a{
    background: url(../images/menu-icon-2.png) top center no-repeat;
}

li#item-newmenu-2 a:hover, li#item-newmenu-2 a.item-active {
    background: url(../images/menu-icon-2-active.png) top center no-repeat;
}

li#item-newmenu-3 a{
    background: url(../images/menu-icon-3.png) top center no-repeat;
}

li#item-newmenu-3 a:hover, li#item-newmenu-3 a.item-active {
    background: url(../images/menu-icon-3-active.png) top center no-repeat;
}

li#item-newmenu-4 a{
    background: url(../images/menu-icon-4.png) top center no-repeat;
}

li#item-newmenu-4 a:hover, li#item-newmenu-4 a.item-active {
    background: url(../images/menu-icon-4-active.png) top center no-repeat;
}

li#item-newmenu-5 a{
    background: url(../images/menu-icon-5.png) top center no-repeat;
}

li#item-newmenu-5 a:hover, li#item-newmenu-5 a.item-active {
    background: url(../images/menu-icon-5-active.png) top center no-repeat;
}

li#item-newmenu-6 a{
    background: url(../images/menu-icon-6.png) top center no-repeat;
}

li#item-newmenu-6 a:hover, li#item-newmenu-6 a.item-active {
    background: url(../images/menu-icon-6-active.png) top center no-repeat;
}

div.ttn-newmenu .new-menus ul ul.detail-menu li.new-level2.last, div.ttn-newmenu .new-menus ul ul.detail-menu li ul li{
    border: none;
}


div#ttn-featurepro{
	width: 100%;
    float: left;
	margin: 0px 0px 10px 0px;
}

div#ttn-featurepro #recent-prev{
    left: 0;
    float: left;
    display: block;
    width: 51px;
    height: 55px;
    margin-top: 20px;
    background: url(../images/bg-gift-button.png) no-repeat left center;
    position: absolute;
    z-index: 9999;
}

div#ttn-featurepro #recent-next {
	right: 0;
    float: right;
    display: block;
    width: 51px;
    height: 55px;
    margin-top: 20px;
    background: url(../images/bg-gift-button.png) no-repeat right center;
    position: absolute;
}

div#ttn-featurepro #recent-relative {
    width: 94%;
}

/*div#ttn-featurepro #recent-relative .recent-item .browseProductContainer {
    width: 210px;
}

div#ttn-featurepro #recent-relative .recent-item .browseProductContainer img{
    height:130px;
}*/

div#ttn-featurepro #recent-relative .recent-item .browseProductContainer .ttn-sbname-pro {
    display:none;
}


div#ttn-featurepro #recent-relative .recent-item .browseProductContainer .title-item a{
    color: #3f3f3f;
}

div#user1 {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: justify
}
div#user1 div {
	display: block;
	overflow: hidden;
	background: url(../images/mid_user1_bg.jpg) top left repeat-y
}
div#user1 div div {
	display: block;
	overflow: hidden;
	background: url(../images/top_user1_bg.jpg) top left no-repeat
}
div#user1 div div div {
	display: block;
	overflow: hidden;
	background: url(../images/bot_user1_bg.jpg) bottom left no-repeat
}
div#user1 div div div div {
	line-height: 30px;
	color: #000;
	background: none;
	padding: 10px 20px 10px 20px;
}
div#user1 h3 {
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #3f3f3f
}
div#user2 {
	display: block;
	overflow: hidden;
	width: 100%
}

div#user2 .moduletable{
	float:left;
	height:438px;
	width: 50%
}

div#user2 .moduletable.user21{
	background: url(../images/bg-introduce-1.png) top left no-repeat
}

div#user2 .moduletable.user21 .custom{
	width: 49%;
    margin: 0px auto;
    color: #fff;
    text-align: center;
    padding-top: 13%;
    font-family: Roboto;
    font-weight: 300;
}

div#user2 .moduletable.user21 h3{
    font-family: Roboto;
	font-size: 38px;
    color: #fff;
    padding-bottom: 35px;
}

div#user2 .moduletable.user22{
	background: url(../images/bg-introduce-2.png) top left no-repeat
}

div#user2 .moduletable.user22 .custom{
    width: 51%;
    padding-left: 13%;
    text-align: center;
}

div#user2 .moduletable.user22 h3{
	font-size: 32px;
    color: #282828;
    padding-bottom: 35px;
    padding-top: 50px;
    line-height: 40px;
    font-family: Roboto;
    font-weight: 400;
}

div#user2 .moduletable.user22 a{
	color: #fff;
    padding: 12px 45px;
    background: #EC1C24;
    border-radius: 25px;
    font-size: 21px;
    font-weight: 500;
}

div#user2 .moduletable.user23 #slider {
    position: relative;
    width: 600px;
}

div#user2 .moduletable.user23 #slider .viewer {
    height: 438px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 600px;
}

div#user2 .moduletable.user23 #slider .indicator {
	margin: 0px auto 0px;
    position: absolute;
    top: 30%;
    right: 0px;
}

div#user2 .moduletable.user23 #slider ul.myList li.col2 {
    margin: 0px;
	height:100%;
    width: 600px;
    text-align: center;
}

div#user2 .moduletable.user24{
	background:#EC1C24;
}

div#user2 .moduletable.user24 .custom{
	width: 47%;
    margin-left: 15%;
    text-align: center;
}

div#user2 .moduletable.user24 h3{
    margin: 0px;
    font-family: 'Roboto';
    font-size: 23px;
    color: #fff;
    font-weight: normal;
	font-style: oblique;
    line-height: 30px;
    text-transform: none;
}

div#user2 .moduletable.user24 .tag{
    padding: 30px 0px;
    color: #fff;
}

div#user2 .moduletable.user24 .tag{
    padding: 30px 0px;
    color: #fff;
}

div#user2 .moduletable.user24 a .read-more{
	color: #EC1C24;
    padding: 8px 30px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
}

div#user2 .moduletable.user24 a:hover, div#user2 .moduletable.user22 a:hover, div#ttn-showcase a:hover{
    text-decoration: none;
}

div#review {
	color: #bf0000;
	font-family: "Bookman Old Style";
	font-size: 30px;
	text-align: center;
	line-height: 35px;
	font-style: italic
}
div#author {
	color: #666;
	font-family: "Century Gothic";
	font-size: 16px;
	text-align: center;
	margin-top: 10px
}
#latestnews div.moduletable {
	padding-left: 30px
}
#latestnews div.moduletable h3 {
	font-size: 16px;
	color: #3f3f3f;
	margin-bottom: 10px
}
#latestnews div.moduletable ul {
	margin: 0;
	padding: 0 0 0 5px
}
#latestnews div.moduletable li {
	list-style: none;
	margin: 0;
	padding: 2px 0
}
#latestnews div.moduletable li a {
	color: #8c8c8c
}
div#international .moduletable {
	padding-left: 75px;
	border-left: 2px solid #e7e7e7
}
div#international .moduletable img {
	margin: 0 auto
}
#ttn-user3-inner div.module_featpro {
	width: 100%;
	display: block;
	overflow: hidden;
	background: url(../images/mid_user3_bg.jpg) top left repeat-y;
}
#ttn-user3-inner div.module_featpro div {
	background: url(../images/top_user3_bg.jpg) top left no-repeat;
}
#ttn-user3-inner div.module_featpro div div {
	background: url(../images/bot_user3_bg.jpg) bottom left no-repeat;
}
#ttn-user3-inner div.module_featpro div div div {
	background: none;
	padding: 20px 30px
}
#ttn-user3-inner div.module_featpro div div div h3 {
	text-transform: uppercase;
	color: #ff7f00;
	font-size: 24px;
	font-weight: 400;
	margin: 0 0 10px;
	padding: 0
}
#ttn-user3-inner div.module_featpro div div div ul {
	margin: 0
}
] #ttn-left-inner-mod-right h3 {
font-size:37px;
font-weight:400;
text-transform:uppercase;
line-height:43px;
margin-bottom:10px;
text-align:left
}
#ttn-left-inner-mod-right .moduletable {
	text-align: left;
	width: 271px
}
#ttn-right-inner div.module_catpro {
	display: block;
	width: 249px;
	background: url(../images/mid_mod_list_pro_bg.jpg) top left repeat-y;
	
}

#ttn-right-inner div.module_catpro div {
	display: block;
	background: url(../images/top_mod_list_pro_bg.jpg) top left no-repeat
}
#ttn-right-inner div.module_catpro div div {
	display: block;
	background: url(../images/bot_mod_list_pro_bg.jpg) bottom left no-repeat
}
#ttn-right-inner div.module_catpro div div div {
	background: none;
	color: #FFF;
	padding: 10px 10px 10px 0
}
#ttn-right-inner div.module_catpro div div div h3 {
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 22px;
	font-family: "Trajan Pro";
	background: url(../images/products_header.jpg) top left no-repeat;
	text-indent: -999990px;
	height: 40px;
	width: 205px;
	margin: 5px 0 10px 20px;
	padding: 0
}
#ttn-right-inner div.module_catpro div div div a {
	color: #FFF;
	font-size: 14px;
	margin: 5px 0
}
#ttn-right-inner div.module_catpro, #ttn-right-inner div.module {
	margin-bottom: 10px
}
div.module_catpro h3 {
	margin: 5px 0 10px
}

div#ttn-sub-button{
	background: url(../images/bg-promotions.png) top left repeat-x #ffffff;
    padding: 10px 0px 30px 0px;
	float: left;
	width: 100%;
}

div#ttn-sub-button .line{
	background: #000;
    height: 1px;
    width: 0px;
    margin: 0px;
}

div#ttn-sub-button .ttn-promotions, div#ttn-sub-button .ttn-our-clients{
    width: 100%;
    display: inline-block;
}

div#ttn-sub-button .promotions{
    width: 200px;
    margin: 0px 10px;
    display: inline-block;
}

div#ttn-sub-button .ttn-promotions .custom{
	margin: 0px auto;
    text-align: center;
}

div#ttn-sub-button .promotions img{
	width: 100%;
}

div#bottom-mod{
    background: #292929;
	width: 100%;
}

#bottom-mod-left-inner {
    width: 81%;
    margin: 0px auto;
    display: block;
    overflow: hidden;
}
#bottom-mod-left-inner div.moduletable {
    float: left;
    padding: 20px 0px;
    width: 31%;
}

#bottom-mod-left-inner div.moduletable.footer3 {
    float: left;
    padding: 13px 0px;
    width: 39%;
}

#bottom-mod h3 {
	color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Century Gothic";
}

#bottom-mod-left-inner div.moduletable_infocom {
	float:left;
	font-size: 12px;
	color: #A8A8A8;
	padding: 13px 0px;
	width: 30%;
}

.ap_quick_contact_form {
	padding-bottom:20px;
}

.ap_quick_contact .control-group{
    width: 100%;
    float: left;
    padding: 2px 0px;
}

.ap_quick_contact .input-text{
	width: 99%;
    line-height: 25px;
}

.ap_quick_contact .input-text, .ap_quick_contact .control-group .textarea{
	background: #666666;
    border: 0px;
	color: #fff;
    height: 30px;
    padding: 0px 0px 0px 1%;
    font-family: Roboto;
    line-height: 30px;
}

.ap_quick_contact .control-group .textarea{
    min-height: 70px;
	width:99%;
}

.ap_quick_contact .btn.submit{
    border: 0px;
    background: #EC1C24;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 45px;
    padding: 0px;
    width: 100%;
}

.ap_quick_contact .input-text.company {
    width: 48%;
    float: left;
    margin-right: 7px;
}

.ap_quick_contact .input-text.name {
    width: 48%;
    float: left;
}

#ttn-bottom-inner #footer{
	background: #201D1D;
    margin: 0px auto;
	padding: 5px;
    text-align: center;
    width: 100%;
}

div#ttn-mod-links ul, div#ttn-mod-links li {
	list-style: none;
	margin: 0
}

ul#col1 {
	padding: 15px 15px 15px 0px;
}

ul#col2, ul#col3, ul#col4, ul#col5 {
	padding: 15px
}
ul#col1, ul#col2, ul#col3, ul#col4 {
	border-right: 1px solid #666;
}
ul#col1 li, ul#col2 li, ul#col3 li, ul#col4 li, ul#col5 li {
	padding-bottom: 5px;
}

div#ttn-mod-links ul li.space{
	height: 25px;
}


div#ttn-mod-links a {
	color: #A8A8A8;
    font-size: 14px;
}
div.moduletable_infocom p {
	line-height: 160%;
	font-size: 14px;
	margin: 0
}
div#copyright {
    color: #A8A8A8;
    display: inline-block;
    padding-right: 110px;
}

div#footer_links{
    display: inline-block;
}

div#footer_links a{
    font-size: 14px;
    color: #A8A8A8;
}

div#content-inner {
	padding-right: 3px;
	position: relative;
	z-index: 1
}
div#product_list, div#ttn_prdDetail_wrapper, div#ttn-list-cat {
	width: 100%;
	display: inline-block;
	background: url(../images/mid_com_bg.jpg) top left repeat-y
}
div#product_list_inner1 {
	width: 100%;
	display: block;
	background: url(../images/top_com_bg.jpg) top left no-repeat
}
div#product_list_inner2 {
	width: 100%;
	display: block;
	background: url(../images/bot_com_bg.jpg) bottom left no-repeat
}
div#product_list_inner3 {
	overflow: hidden;
	padding: 30px
}
.ttn-sbname-pro {
	padding-left: 9px;
	color: #000;
	font-size: 12px
}
.browseProductTitle a {
	color: #bf0000;
	font-size: 15px
}
.browseProductImageContainer a {
	padding-left: 8px
}
ul.pagination {
	width: auto!important;
	margin: 0;
	padding: 0
}
ul.pagination li {
	color: #3f3f3f;
	border-right: 1px solid #000;
	margin: 0;
	padding: 0
}
.pagenav {
	color: #3f3f3f
}
div#ttn-fp {
	float: left;
	width: 100%;
	display: block;
	background: url(../images/mid_user3_bg.jpg) top left repeat-y
}

div#ttn-fp.recent-product{
	margin-bottom:20px;
}

div#ttn-fp-inner1 {
	width: 100%;
	display: block;
	background: url(../images/top_user3_bg.jpg) top left no-repeat
}
div#ttn-fp-inner2 {
	width: 100%;
	display: block;
	background: url(../images/bot_user3_bg.jpg) bottom left no-repeat
}
div#ttn-fp-inner3 {
	overflow: hidden;
	padding: 20px 30px
}
#ttn-fp-inner3 h3 {
	text-transform: uppercase;
	color: #ff7f00;
	font-size: 24px;
	font-weight: 400;
	font-family: "Trajan Pro";
	margin: 0 0 10px;
	padding: 0
}
div#ttn-fp-colleft {
	width: 95px;
	display: block;
	float: left
}
div#ttn-fp-colright {
	width: 91%;
	display: block;
	overflow: hidden;
	float: left
}
#ttn-fp-namepro h4 {
	text-transform: uppercase;
	font-size: 16px;
	color: #bf0000;
	font-weight: 400;
	margin: 0;
	padding: 0
}
#ttn-fp-namepro span.ttn_prdName_subtitle {
	color: #000;
	font-size: 11px
}
div#ttn-desc-rm a {
	color: #bf0000;
	font-size: 13px
}
div#ttn-list-cat a {
	color: #BF0000;
	margin-bottom: 10px
}
div#ttn-list-cat a img {
	margin-bottom: 10px;
	margin-top: 10px
}
h3#ttn-categories, h3#ttn-browsepage-title {
	text-transform: uppercase;
	font-family: "Trajan Pro";
	font-size: 24px;
	font-weight: 400;
	color: #3f3f3f;
	margin: 10px 0;
	padding: 0
}
input.fastcontactText {
	width: 172px;
	height: 21px;
	border: none;
	background: #eaebec;
	color: #808182;
	padding: 2px 4px
}
textarea.fastcontactTextarea {
	width: 232px;
	height: 56px;
	background: #eaebec;
	border: none;
	color: #808182;
	padding: 2px 4px
}
input.fastcontactButton {
	height: 82px;
	background: #eaebec;
	border: none;
	color: #808182
}
.ttn-com a {
	color: #fff
}
.ttn-nocom #content-inner a, .ttn-com form#userForm a {
	color: #BF0000
}

.product-neighbours a.previous-page, .product-neighbours a.next-page {
    font-size: 18px;
}

form#userForm {
	width: 604px;
	margin-left: 100px;
	color: #000
}
#emailinfo a {
	background: url(/images/M_images/emailButton.png) center left no-repeat;
	padding-left: 40px
}
#telinfo {
	background: url(/images/M_images/con_tel.png) center left no-repeat;
	padding-left: 40px
}
#salesmanager {
	background: url(/images/M_images/con_mobile.png) center left no-repeat;
	padding-left: 40px
}
#faxinfo {
	background: url(/images/M_images/con_fax.png) center left no-repeat;
	padding-left: 40px
}
.frm-contact #address{ background: url(/images/M_images/con_address.png) center left no-repeat; padding-left: 40px;}
form#userForm div.componentheading {
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #3f3f3f;
	font-family: "Trajan Pro"
}
div#address {
	padding-left: 40px
}
div#copyright a {
	color: #999;
	text-decoration: none
}
div#copyright a:hover {
	text-decoration: underline
}
div.browseProductContainer {
	text-align: center
}
a#active_menu {
	font-weight: 700
}
.module_catpro ul li {
	list-style-type: none;
	list-style-image: none;
	position: relative
}
.module_catpro ul li a {
	display: block;
	outline: none;
	margin: 0!important;
	padding: 0 0 0 20px;
	text-transform: lowercase;
}
.module_catpro ul li a.parent {
	background: url(../images/menu_arrow.gif) no-repeat scroll 5px 5px;
	padding-right: 9px
}
.module_catpro ul li a::first-letter{
	  text-transform: uppercase;
}
.module_catpro ul.level0 li ul, .module_catpro ul.level0 li:hover ul, .module_catpro ul.level0 li.sfhover ul, .module_catpro ul.level0 li:hover ul ul, .module_catpro ul.level0 li.sfhover ul ul {
	position: absolute;
	left: -999em;
	right: 227px;
}
.module_catpro ul.level0 li:hover ul, .module_catpro ul.level0 li.sfhover ul, .module_catpro ul.level0 li li:hover ul, .module_catpro ul.level0 li li.sfhover ul {
	position: absolute;
	left: auto;
	top: -10px;
	margin-left: -189px;
	z-index: 1000
}
.module_catpro ul.level0 ul {
	width: 230px;
	background: #EB1C24;
	padding: 10px 1px 10px 10px
}
.module_catpro ul.level0 ul li a:link, .module_catpro ul.level0 ul li a:visited {
	display: block;
	color: #fff!important;
	text-align: right;
	margin: 0!important;
	padding: 0!important
}
dt.article-info-term {
	display: none
}
form, .module_catpro * {
	margin: 0;
	padding: 0
}
div#ttn-search .moduletable form {
	float: left;
	min-height: 0px !important;
}

div#ttn-mod-links ul, #product_list table {
	float: left;
	min-height: 294px;
}
div#ttn-nav-inner ul, div#ttn-desc-rm {
	text-align: right
}
ul.pagination li a, ul.pagination li span {
	padding: 0 8px 0 4px
}
.vst_contact_form {
	float: left;
}
.vstfooter-link a {
	color: #8c8c8c !important;
}
.vstfooter-link a:hover {
	color: #8c8c8c !important;
}
.vstfooter-link a:active {
	color: #8c8c8c !important;
}
/* Tooltip.css */
.tip-wrap {
	background: #c6c6c6;
	color: #fff;
	float: left;
	max-width: 350px;
	padding: 5px;
width:expression(this.width>350?"350px":true);
	z-index: 999
}
.tip-title {
	color: #fff;
	font-size: 100%;
	font-weight: 700;
	line-height: 130%;
	margin: -15px 0 0;
	padding: 15px 0 10px
}
.tip-text {
	font-size: 100%;
	margin: 0
}
.tip-text img {
	background: #fff;
	display: block;
height:expression(this.height>300?"300px":true);
	margin: 0 auto;
	max-height: 350px;
	max-width: 350px;
width:expression(this.width>350?"350px":true)
}
/* ttn_flypage.css */
@charset utf-8;
h1.prdName {
	color: #3f3f3f;
	font-size: 22px;
	font-family: Trajan Pro;
	font-weight: 700;
	margin: 5px 0 10px;
	padding: 0
}
.prdImages {
    float: left;
    width: 30%;
}
.prdImages h2 {
	color: #BF0000;
	text-transform: uppercase;
	font-size: 17px;
	font-family: Trajan Pro;
	margin: 15px 0 20px
}
.alter_img {
	float: left
}
.prdDesc_wrapper {
    float: left;
    width: 42%;
}

.vst_form_fields {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.prdImages .mainImage {
	width: 340px;
	height: 340px;
	overflow: hidden;
	margin-bottom: 20px
}
.prdImages img {
	width: 340px!important;
	height: auto!important
}
.prdImages #altviews img {
	width: 74px!important;
	height: auto!important;
	margin: 0 10px 15px 0
}
h3.prdDetail_title {
	color: #bf0000;
	font-family: Trajan Pro;
	font-size: 20px;
	font-weight: 700;
	margin: 15px 0 4px;
	padding: 0
}
table.prdDesc {
	color: #8f0000;
	font-family: Century Gothic;
	font-size: 13px
}
table.prdDesc .prdDesc_label {
	color: #666;
	padding-right: 30px
}
table.prdPrice {
	color: #000
}
table.prdPrice td {
	border: 1px solid #666;
	text-align: center;
	padding: 2px 0
}
table.prdPrice thead td {
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	font-family: Century Gothic;
	padding: 2px 20px
}
div.prdBotNote {
    color: #3f3f3f;
    padding: 10px;
    width: 95%;
    display: inline-block;
}
.featureItem_wrapper .ttn_thumbImg, .featureItem_wrapper .ttn_thumbImg img {
	width: 85px!important
}
#ttn-right {
	position: relative;
	z-index: 1
}
.ttn_hidden {
	display: none
}
.ttn_display {
	display: block
}
.featureItem_wrapper, .browseProductImageContainer, #ttn-fp-colleft-inner {
	position: relative;
	height: 90px
}
.browseProductImageContainer {
	height: 140px;
	padding: 5px 0 15px
}
.browseProductImageContainer div {
	height: 90px;
	text-align: center
}
.browseProductImageContainer .ttn_display, #ttn-fp-colleft-inner .ttn_display {
	position: absolute;
	top: -30%;
	left: 120px;
	border: 5px solid #000;
	z-index: 10000;
	margin: 0
}
.featureItem_wrapper .ttn_display {
	position: absolute;
	top: -30%;
	right: 100px;
	border: 5px solid #000;
	z-index: 10000;
	margin: 0
}
.moduletable .vmgroup {
	margin-left: 3px;
}
.priceTbl td {	text-align: center;}
.clear,br.clear{clear:both;}
.floatright,span.floatright{float:right;}
.floatleft,span.floatleft{float:left;}
span.bold,div.bold{font-weight:700;}
.width1{width:1%;}.width2{width:2%;}.width3{width:3%;}.width4{width:4%;}.width5{width:5%;}.width6{width:6%;}.width7{width:7%;}.width8{width:8%;}.width9{width:9%;}.width10{width:10%;}.width11{width:11%;}.width12{width:12%;}.width13{width:13%;}.width14{width:14%;}.width15{width:15%;}.width16{width:16%;}.width17{width:17%;}.width18{width:18%;}.width19{width:19%;}.width20{width:20%;}.width21{width:21%;}.width22{width:22%;}.width23{width:23%;}.width24{width:24%;}.width25{width:25%;}.width26{width:26%;}.width27{width:27%;}.width28{width:28%;}.width29{width:29%;}.width30{width:30%;}.width31{width:31%;}.width32{width:32%;}.width33{width:33%;}.width34{width:34%;}.width35{width:35%;}.width36{width:36%;}.width37{width:37%;}.width38{width:38%;}.width39{width:39%;}.width40{width:40%;}.width41{width:41%;}.width42{width:42%;}.width43{width:43%;}.width44{width:44%;}.width45{width:45%;}.width46{width:46%;}.width47{width:47%;}.width48{width:48%;}.width49{width:49%;}.width50{width:50%;}.width51{width:51%;}.width52{width:52%;}.width53{width:53%;}.width54{width:54%;}.width55{width:55%;}.width56{width:56%;}.width57{width:57%;}.width58{width:58%;}.width59{width:59%;}.width60{width:60%;}.width61{width:61%;}.width62{width:62%;}.width63{width:63%;}.width64{width:64%;}.width65{width:65%;}.width66{width:66%;}.width67{width:67%;}.width68{width:68%;}.width69{width:69%;}.width70{width:70%;}.width71{width:71%;}.width72{width:72%;}.width73{width:73%;}.width74{width:74%;}.width75{width:75%;}.width76{width:76%;}.width77{width:77%;}.width78{width:78%;}.width79{width:79%;}.width81{width:81%;}.width82{width:82%;}.width83{width:83%;}.width84{width:84%;}.width85{width:85%;}.width86{width:86%;}.width87{width:87%;}.width88{width:88%;}.width89{width:89%;}.width90{width:90%;}.width91{width:91%;}.width92{width:92%;}.width93{width:93%;}.width94{width:94%;}.width95{width:95%;}.width96{width:96%;}.width97{width:97%;}.width98{width:98%;}.width99{width:99%;}.width100{width:100%;}

.com_rsform #content-sub{ padding-top: 20px;}
.custom_infocom a{ color: #A8A8A8;}
.rsform-input-box, .rsform-text-box {
    display: block;
}
.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
}
.alert,
.alert h4 {
	color: #c09853;
}
.alert h4 {
	margin: 0;
}
.alert .close {
	position: relative;
	top: -2px;
	right: -21px;
	line-height: 18px;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}
.alert-success h4 {
	color: #468847;
}
.alert-danger,
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
	color: #b94a48;
}
.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}
.alert-info h4 {
	color: #3a87ad;
}
.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}
.alert-block p + p {
	margin-top: 5px;
}

.moduletable #slidebox #share {
    margin-top: -10px;
}
/*
.quote-icon-left {
	background: url("../images/quote1_25_start.png") no-repeat scroll left top;
    width: 15px;
    float: left;
    text-align: left;
    display: inline-block;
}
*/
#bottom-mod-right .moduletable #slider {
    max-width: 104%;
}

#bottom-mod-right .moduletable #slidebox {
    bottom: 17px;
}

#slidebox {
    padding-right: 5px !important;
    z-index: 999999 !important;
}

#slidebox {
    border: 0px solid #ccc;
}

a.close {
    right: 10px !important;
    top: 9px !important;
}

#relateddata p {
    color: #555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 15px;
}

#relateddata a {
    color: #C71F1F;
    display: block;
    font-size: 14px;
    padding-top: 7px;
    text-align: right;
}

#relateddata a:hover {
    color: #ff0000;
}

#bottom-mod-right .moduletable #slidebox {
    padding-top: 5px;
    top: 0;
}

#relateddata p {
    margin-bottom: 2px;
}

.control-label {
    display: inline-block !important;
    float: left;
	font-weight: normal !important;
    max-width: 100% !important;
    width: 100% !important;
}

.gcore-display-table {
}

.form-group.gcore-form-row {
	margin-bottom: 5px;
}

#chronoform-container-9 {
    float: left;
    width: 100%;
}

#chronoform-container-9 .form-group.gcore-form-row {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    max-width: 200px !important;
    width: 200px;
}

#chronoform-container-12 {
    float: left;
    width: 100%;
}

#chronoform-container-12 #form-row-dropdown20 {
    float: left;
    max-width: 240px !important;
    width: 240px;
}

#chronoform-container-12 #form-row-dropdown21 {
    float: left;
    max-width: 250px !important;
    width: 250px;
}

#chronoform-container-12 #form-row-dropdown22 {
    float: left;
    max-width: 250px !important;
    width: 250px;
}

.chrono_credits {
	display: none;
}

#chronoform-Quotation-new div.componentheading {
    color: #3f3f3f;
    font-family: "Trajan Pro";
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
	margin-top: 30px;
    text-transform: uppercase;
}

.gbs3 #fin-text1 .form-control.A,
.gbs3 #fin-text2 .form-control.A,
.gbs3 #fin-text4 .form-control.A,
.gbs3 #fin-text5 .form-control.A,
.gbs3 #fin-text6 .form-control.A {
    width: 270px !important;
}

#fin-text37 .form-control.A {
    width: 100px !important;	
}

#chronoform-container-9 .form-group.gcore-form-row#form-row-text37 {
	width: 120px;
}

#fin-text35 .form-control.A,
#fin-text36 .form-control.A,
#fin-text38 .form-control.A {
    width: 195px !important;
	margin-right: 10px;	
}

#chronoform-container-9 .form-group.gcore-form-row#form-row-text35,
#chronoform-container-9 .form-group.gcore-form-row#form-row-text36,
#chronoform-container-9 .form-group.gcore-form-row#form-row-text38 {
    margin-right: 10px !important;
    width: 215px !important;
}

#chronoform-container-27 {
    float: left;
    width: 100%;
}

#chronoform-container-27 #form-row-text28 {
    float: left;
    max-width: 260px !important;
    width: 260px;
	margin-right: 15px;	
}

#chronoform-container-27 #form-row-text29 {
    float: left;
    max-width: 260px !important;
    width: 260px;
}

#chronoform-container-27 #form-row-text28 #text28 {
	width: 240px !important;
}

#chronoform-container-27 #form-row-text29 #text29 {
	width: 240px !important;
}

#chronoform-container-30 {
    float: left;
    width: 100%;
}

#chronoform-container-30 #form-row-text31 {
    float: left;
    max-width: 260px !important;
    width: 260px;
}

#chronoform-container-30 #form-row-dropdown32 {
    float: left;
    max-width: 120px !important;
    width: 120px;
}

#chronoform-container-30 #form-row-text33 {
    float: left;
    max-width: 150px !important;
    width: 150px;
}

#chronoform-container-30 #form-row-text31 #text31 {
	width: 240px !important;
}

#chronoform-container-9 {
    border-top: 1px solid #eee;
    margin-top: 5px;
	width: 90%;
}

#chronoform-container-12 {
    border-top: 1px solid #eee;
    margin-top: 5px;
	width: 90%;
}

#form-row-file19 {
    border-top: 1px solid #eee;
	float: left;
    margin-top: 5px;
	width: 90%;
}

#chronoform-container-9 .control-label,
#chronoform-container-12 .control-label,
#chronoform-container-19 .control-label {
    padding-top: 5px;
}

#chronoform-Quotation-new #form-row-button17 {
    margin-top: 15px;
}

/* aug-2015 */
#form-row-custom #address {
    background: rgba(0, 0, 0, 0) url("/images/M_images/con_address.png") no-repeat scroll left center;
    padding-left: 40px;
}

#form-row-custom .componentheading {
    color: #3f3f3f;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#chronoform-Contact-us {
	margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

#chronoform-Contact-us #form-row-file19 {
    border-top: 0 solid #eee;
    width: 95%;
}

#chronoform-container-27 {
    border-top: 1px solid #eee;
	margin-top: 5px;
    width: 90%;
}

#chronoform-container-30 {
    border-bottom: 1px solid #eee;
	padding-bottom: 5px;
    width: 90%;
}

#chronoform-Contact-us #form-row-button17 {
	 margin-top: 30px;
}

/* quick form */
#chronoform-Quick-quotation {
    border: 1px solid #bf0000;
    border-radius: 10px;
    overflow: hidden;
}

.vst_contact_form .system-message-container ul{
    list-style-type: none;
    padding: 0px;
}

#chronoform-Quick-quotation {
	width: 100%;
}

#chronoform-Quick-quotation #form-row-custom {
    background: #bf0000 none repeat scroll 0 0;
    color: #fff !important;
    margin: 0 0 10px !important;
    text-align: center;
}

#fin-custom {
	width: 100%;
}

#chronoform-Quick-quotation .form-group {
	margin-left: 10px !important;
    margin-right: 10px !important;
}

#chronoform-Quick-quotation  .componentheading {
	background: #bf0000;
    color: #ffffff !important;
    margin-top: 0 !important;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-family: "Trajan Pro";
    font-weight: 500;
	font-size: 1.5em;
}

.gbs3 #chronoform-Quick-quotation .form-group input.form-control {
    border: 1px solid #ddd;
    height: 30px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
	width: 285px !important;
}

.gbs3 #chronoform-Quick-quotation .form-group input.form-control#file19 {
    padding: 0 !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-65 #form-row-recaptcha {
	transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    float: left;
    width: 194px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal .control-label {
    font-family: "Century Gothic" !important;
    font-size: 13px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-44 {
    width: 100% !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-44 #form-row-text46 {
    float: left;
    margin-right: 0px !important;
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-44 #form-row-text47 {
    float: left;
    margin-left: 8px !important;
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-44 #form-row-text46 input.form-control {
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-44 #form-row-text47 input.form-control {
    width: 135px !important;
}



.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-45 {
    width: 100% !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-45 #form-row-text48 {
    float: left;
    margin-right: 0px !important;
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-45 #form-row-dropdown50 {
    float: left;
    margin-left: 8px !important;
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-45 #form-row-text48 input.form-control {
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #chronoform-container-45 #form-row-dropdown50 select#dropdown50 {
    height: 30px;
    padding: 0 !important;
    width: 135px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #form-row-textarea16 #textarea16 {
    height: 66px !important;
    width: 288px !important;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal .help-block {
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
	margin-bottom: 0;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal #form-row-file19 {
    border-top: 0 solid #eee;
    margin-top: 0;
}

.gbs3 #chronoform-Quick-quotation.form-horizontal .control-label {
    padding-top: 0;
}

.gbs3 #chronoform-Quick-quotation #form-row-chrono_security_answer39 {
    float: left;
    padding: 0 !important;
    width: 170px !important;
}

.gbs3 #chronoform-Quick-quotation #form-row-button17 {
    float: left;
    margin-right: 0 !important;
    padding: 0 !important;
    width: 80px !important;
}

.gbs3 #chronoform-Quick-quotation .form-group#form-row-chrono_security_answer39 input.form-control {
    width: 110px !important;
}

.gbs3 #chronoform-Quick-quotation .form-group#form-row-button17 input#button17 {
    height: 35px;
    margin-top: 8px;
    width: 75px !important;
}

/* 07-augt */
.gbs3 #chronoform-Quick-quotation #chronoform-container-51 {
	width: 100% !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-51 #form-row-text54 {
    float: left;
    margin-right: 0 !important;
    width: 140px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-51 #form-row-text55 {
    float: left;
    margin-left: 10px !important;
    margin-right: 0 !important;
    width: 140px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-51 input.form-control {
    width: 140px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 {
	width: 100% !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-text56 {
    float: left;
    margin-right: 0 !important;
    width: 118px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-dropdown58 {
    float: left;
    margin-left: 10px !important;
    margin-right: 0 !important;
    width: 86px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-text59 {
    float: left;
    margin-left: 10px !important;
    margin-right: 0 !important;
    width: 70px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-text56 input.form-control {
    width: 116px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-text59 input.form-control {
    width: 65px !important;
}

.gbs3 #chronoform-Quick-quotation #chronoform-container-53 #form-row-dropdown58 select#dropdown58 {
    height: 30px;
    padding: 0;
    width: 84px !important;
}

/* new form */
/*
.rsform-block-send {
    bottom: 0 !important;
    float: right !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    position: inherit !important;
    width: 100% !important;
    right: 0px!important;
}

.rsform-block-send br {
	display: none;
}

#quote-form-product-detail #Send {
    float: right;
    margin-top: 5px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    box-shadow: 0px 0px 2px #ccc !important;
    border-radius: 2px;
}

.vst_contact_form {
    padding-bottom: 10px!important;
}
*/

#quote-form-product-detail .formField.rsform-block-capcha {
    overflow: visible !important;
}

#quote-form-product-detail #Send {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#quote-form-product-detail .rsform-block-send {
    position: inherit;
    text-align: right;
    margin-top: 10px;
}

.browseProductImageContainer img.browseProductImage {
    height: auto;
    max-width: 90px;
}

.disableloads {
	display: none;
}

.display-number,
.vm-pagination {
	display: none;
}

#ajaxloading {
}

#ttn-right {
    z-index: 1;
}

#SideDealContent {
    z-index: 1;
}

.module_catpro ul li {
    padding-right: 10px;
}


.module_catpro ul.level0 li ul, 
.module_catpro ul.level0 li:hover ul, 
.module_catpro ul.level0 li.sfhover ul, 
.module_catpro ul.level0 li:hover ul ul, 
.module_catpro ul.level0 li.sfhover ul ul {
    right: 235px;
}

div.product {
    float: left;
    border: 0px solid #ddd;
    min-width: 184px;
}

.vst_contact_form h2 {
    margin: 10px 0px 25px 0px !important;
    background: #bf0000;
    color: #ffffff !important;
    margin-top: 0 !important;
    padding: 20px 0px;
    text-align: center;
    font-family: "Trajan Pro";
    font-weight: 500;
}

.rsform-block-suburb, .rsform-block-state, .rsform-block-postcode {
    float: left;
}

.rsform-block-suburb input{
    width: 138px !important;
    margin-right: 5px;
}

.rsform-block-state select{
    margin-right: 5px;
}

.rsform-block-postcode input{
	width: 63px !important;
}

.formField {
    display: inline-block !important;
}

.rsform-block-send{
	float:right;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color:#333;
	font-family: "Roboto";
}
::-moz-placeholder { /* Firefox 19+ */
	color:#333;
	font-family: "Roboto";
}
:-ms-input-placeholder { /* IE 10+ */
	color:#333;
 	font-family: "Roboto";
}
:-moz-placeholder { /* Firefox 18- */
	color:#333;
	font-family: "Roboto";
}

::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */
	color:#333;
	font-family: "Roboto";
}
:-ms-textarea-placeholder { /* IE 10+ */
	color:#333;
 	font-family: "Roboto";
}

#slider .indicator ul li {
    width: 8px;
    height: 8px;
    text-indent: -9999em;
    margin: 8px;
    background: #000000;
    border-radius: 10px;
}

#slider .indicator ul li.active {
    width: 8px;
    height: 8px;
    text-indent: -9999em;
    margin: 8px;
    background: #B11A13;
    border-radius: 10px;
}

#chronoform-Contact-us .formField {
    display: inherit !important;
}

.ap_quick_contact .part-control-group {
    width: 49%;
    float: left;
    overflow: hidden;
    padding: 2px 0px;
    height: 45px;
}

.ap_quick_contact .control-group-submit{
	margin-left:7px;
}

.rsform-block-recapcha{
    width: 74%;
    height: 60px;
}

div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat {
    display: none; 
    width: 95%;
    position: absolute;
    left: 25px;
    background: #fff;
    border: 2px solid #a3a3a3;
    z-index: 99;
}

div.ttn-newmenu .new-menus ul li:hover ul#popular-cat{
    display: block;    
}

div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat li.pocat-level2{
    width: 192px;
    height: 90px;
    float: left;
    margin: 10px;
}


div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat li.pocat-level2 a{
    border: 1px solid #ccc;
    border-radius: 5px;
	height: 90px;
    display: inline-block;
    width: 100%;
    background: none;
	position: relative;
}

div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat li.pocat-level2 a.item-active,
div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat li.pocat-level2 a:hover{
    border: 1px solid #EC1C24;
    border-radius: 5px;
}

div.ttn-newmenu .new-menus ul.mainnewmenu ul#popular-cat li.pocat-level2 a img{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

